.container-custom {
    padding: 1vw;
}

.container-custom-inner {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 5vw;
    width: 50vw;
    border-radius: 16px;
    border: 4px solid lightskyblue;
}

.container-custom-table {
    text-align: center;
}


.conatiner-pagination {
    text-align: center;
}

table th:first-child {
    border-top-left-radius: 16px;
}

table th:last-child {
    border-top-right-radius: 16px;
}

.custom-table {
    margin: auto;
    width: 50%;
}

th {
    font-size: 18px;
    background-color: lightskyblue;
    cursor: pointer;
    color: darkslategray;
}

th:hover {
    background-color: deepskyblue;
    color: black;
}

tr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: larger;
	color: darkslategray;
    height: 4vh;
    cursor: pointer;
}

tr:nth-child(odd) {
    background-color: whitesmoke;
}

tr:nth-child(even) {
    background-color: white;
}

tr:hover {
    background-color: silver;
}

td {
    border-bottom: 1px solid black;
    text-align: center;
}

.roles {
    text-align: left;
}

.roles li {
    display: inline;
}

.roles li:after {
    content: ", ";
}

.roles li:last-child:after {
    content: "";
}

.button-pagination {
    cursor: pointer;
    background-color: lightpink;
    min-width: 60px;
    height: 40px;
    border-style: solid;
    border-radius: 4px;
    margin: 1vw;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid darkslategray;
    color: darkslategray;
}

.button-pagination:disabled {
    background-color: white;
    border-color: darkslategray;
    color: darkslategray;
}

.button-pagination:hover:not([disabled]) {
    background-color: #ff8a9c;
}

.button-pagination:hover {
    border: 2px solid black;
    color: black;
}

.button-profile {
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    font-weight: bolder;
    font-size: xx-large;
    color: darkslategray;
    background-color: transparent;
}

.button-delete {
    cursor: pointer;
    background-color: lightpink;
    width: 50px;
    height: 50px;
    border: 2px solid darkslategray;
    border-radius: 6px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.button-delete:hover {
    background-color: indianred;
    color: black;
    border: 2px solid black;
}

.button-challenge {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    background-color: lightpink;
    width: 80px;
    height: 80px;
    border: 2px solid darkslategray;
    border-radius: 6px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.button-challenge:hover {
    background-color: indianred;
    color: black;
    border: 2px solid black;
}

@media screen and (max-width: 576px) {

    .container-custom-second {
        height: 90vh;
    }

    .container-custom-inner {
        width: 80vw;
    }

    .custom-table {
        width: 100%;
    }

    tr {
        height: 5.5vh;
    }

    tr {
        height: 5.5vh;
    }

    .button-pagination {
        min-width: 12vw;
    }
}