.bg-lightpink {
    background-color: lightpink;
}

.bg-lightskyblue {
    background-color: lightskyblue;
}

.bg-alice-blue {
    background-color: aliceblue;
}

.bg-white {
    background-color: white;
}