.container {
	display: inline-flex;
	position: relative;
	width: 100%;
	height: 100%;
}

.container-content {
	width: 100%;
	margin: 5%;
}

.container-actions {
	display: flex;
	padding: 2%;
	margin: 2%;
	text-align: right;
}

.container-actions-left {
	text-align: left;
	width: 50%;
}

.container-actions-right {
	text-align: right;
	width: 50%;
}

.button {
	padding: 10px;
	margin: 5px;
	border: none;
	border-radius: 10px;
	color: white;
	font-size: large;
}

.datatable {
	table-layout: fixed;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	font-size: large;
}

.datatable th {
	text-transform: capitalize;
	font-weight: bold;
}

.datatable tr {
	height: 5vh;
	max-height: 5vh;
	min-height: 5vh;
}

.datatable td {
	height: 100%;
	white-space: nowrap;
	overflow: auto;
	padding: 0px;
	margin: 0px;
}

.datatable th:first-child {
	border: none;
}

.datatable th:last-child {
	border-top-right-radius: 10px;
	border-right: 0;
}

.datatable tr th:first-child {
	width: 10%;
}

.datatable tbody tr:hover {
	cursor: pointer;
}

.container-admin-input {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.admin-input {
	padding: 0px;
	margin: 0px;
	font-size: large;
	text-align: center;
	border: none;
	outline: none;
	font-weight: normal;
}

.datatable .admin-input {
	height: 5vh;
}

.datatable td .admin-input {
	background-color: white;
}

.datatable tr td:first-child {
	margin: auto;
	padding: auto;
}

.admin-input-checkbox {
	padding: 0px;
	margin: 0px;
}

.admin-item table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	font-size: large;
}

@media (prefers-color-scheme: dark) {
	.button {
		box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
		color: white;
	}

	.button-save {
		background-color: #3e7742;
	}

	.button-save:hover {
		background-color: darkgreen;
	}

	.button-delete {
		background-color: rgb(131, 56, 56);
	}

	.button-delete:hover {
		background-color: darkred;
	}

	.button-edit {
		background-color: rgb(141, 106, 19);
	}

	.button-edit:hover {
		background-color: rgb(126, 92, 7);
	}

	.datatable th {
		border-bottom: 1px solid white;
	}
}

@media screen and (max-width: 576px) {
	.container-actions {
		padding-left: 0;
		padding-right: 0;
		margin: 0;
	}
	.container-actions-left {
		display: inline-flex;
	}
}
