

.side-bar {
	transition: all .5s;
	position: fixed;
	height: 100vh;
	z-index: 0;
	background-color: var(--background-secondary);
	padding-left: 20px;
	margin-top: 50px;
	left: 0;
	top: 0;
}

.side-bar-visible {
	width: 20%;
}

.side-bar-hidden {
	padding-left: 20px;
	width: 0;
}

.side-bar-hidden .side-bar-element {
	display: none;
}

.side-bar a {
	text-decoration: none;
	color: var(--accent-primary);
}

.side-bar a:hover {
	text-decoration: none;
	color: var(--accent-secondary);
}

.side-bar-button {
	position: absolute;
	right: -20px;
	top: 50px;
}

.side-bar-element {
	padding-top: 30px;
}

.datatable {
	min-width: 40%;	
	border: 1px solid red;
}

.container-table {
	border: 1px solid black;
}

.container-actions {
	display: flex;
}

.container-actions-left {
	width: 50%;
}

.container-actions-right {
	text-align: right;
	width: 50%;
}

.button-save {
	background-color: green;
}

.button-save:hover {
	background-color: darkgreen;
}

.button-edit {
	background-color: gold;
}

.button-edit:hover {
	background-color: goldenrod;
}

.button-delete {
	background-color: indianred;
}

.button-delete:hover {
	background-color: darkred;
}

@media screen and (max-width : 576px) {

	.side-bar {
		top: 0;
		margin-top: 0;
		transition: all .5s;
	}

	.side-bar-visible {
		top: 0;
		margin-top: 0;
		width: 40%;
		transition: all .5s;
	}

}
