.column {
  display: inline-grid;
  grid-row-start: 1;
  grid-row-end: 18;
  grid-template-rows: repeat(17, 32px);
  grid-template-columns: 64px;
}

@media screen and (max-width: 576px) {
  .column {
    grid-template-rows: repeat(17, 4.9vh);
    grid-template-columns: 16.66vw;
  }
}