.center {
  height: 80vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.form-container {
  height: 100%
}

.dice-rack-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: inline-grid;
  grid-template-columns: repeat(6, 64px);
  grid-template-rows: repeat(18, 32px);
}

.game-column {
  display: inline-grid;
  grid-row-start: 1;
  grid-row-end: 18;
  grid-template-rows: repeat(17, 32px);
  grid-template-columns: 64px;
}

.bottom-row {
  display: inline-grid;
  grid-row-start: 18;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-template-columns: repeat(3, 128px);
  grid-template-rows: 32px;
}

@media screen and (max-width: 576px) {

  .center {
    height: 100vh;
    justify-content: unset;
    align-items: unset;
  }

  .form-container {
    height: 88.2vh;
  }

  .dice-rack-container {
    height: 11.8vh;
  }

  .form {
    grid-template-columns: repeat(6, 16.66vw);
    grid-template-rows: repeat(18, 4.9vh);
  }

  .game-column {
    grid-template-rows: repeat(17, 4.9vh);
    grid-template-columns: 16.66vw;
  }

  .bottom-row {
    grid-template-columns: repeat(3, 33.33vw);
    grid-template-rows: 4.9vh;
  }
}