.App {
  background-color: aliceblue;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.bar {
  border: 1px solid red;
  width: 100vw;
  height: 7vh;
  
  display: flex;
}

.bar-element {
  border: 1px solid green;
  width: 20%;
}